---
layout: default
---

<div class="page-content">
    <div class="post-heading">
        <h1>{{ page.title }}</h1>
    </div>
    <div class="post-meta">
        <span>
            发布时间:
            <a href="{{ page.url }}">{{ page.date | date:"%Y年%m月%d日" }}</a>
        </span>
        <span><i class="fa fa-ellipsis-v"></i></span>
        <span>
            分类:
            {% for cat in page.categories %}
            <a href="/categories.html#{{ cat }}-ref">{{ cat }}</a>
            {% endfor %}
        </span>
        <span><i class="fa fa-ellipsis-v"></i></span>
        <span>
            标签:
            {% for tag in page.tags %}
            <a href="/tags.html#{{ tag }}-ref">{{ tag }}</a>
            {% endfor %}
        <span>
    </div>
    <div class="post-entry">
        {{ content }}
    </div>
</div>
<div class="post-blank post-pager">
    <ul class="pager">
        {% if page.previous %}
        <li class="previous"><a href="{{ page.previous.url }}">&larr; 上一篇</a></li>
        {% endif %}
        {% if page.next %}
        <li class="next"><a href="{{ page.next.url }}">下一篇 &rarr;</a></li>
        {% endif %}
    </ul>
</div>

<!--
<div class="page-blank">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'huangwei';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>
        Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>
</div>
-->

<!-- 多说评论框 start -->
<div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ page.url }}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"huangweipro"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->


